.heading-primary {
    color: $color_pure_white;
    text-transform: uppercase;
    backface-visibility: hidden;               //ANIMATION SHAKINMG solving


   

    &--top {
        display:block;
        font-size: 6rem;
        font-weight: 400;   
        letter-spacing: 3.5rem;

        animation-name: moveRight ;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;

        @include respond(tabl-port) {
            font-size: 5rem;
            letter-spacing: 2.5rem;
        }

        @include respond(phone) {
            font-size: 4.0rem;
            letter-spacing: 2.0rem;
      
        } 

        @include respond(phone-small) {
            font-size: 3.0rem;
            letter-spacing: 1.5rem;
      
        } 
    }
    
    &--sub { 
        display:block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem; 
        padding-bottom: 4rem;


        animation-name: moveLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;

        @include respond(tabl-port) {
            font-size: 1.5rem;
            letter-spacing: 1.3rem;
        }

        @include respond(phone) {
            font-size: 1.5rem;
            letter-spacing: .8rem;
      
        } 
        @include respond(phone-small) {
            font-size: 1.5rem;
            letter-spacing: 1.0rem;
      
        } 

    }
}


 